.workshop-checkbox {
  display               : grid;
  grid-template-columns : 40px 1fr;
  gap                   : 1rem;
  align-items           : flex-start;

  .workshop-content {
    display        : flex;
    flex-direction : column;

    h3 {
      margin : 0 0 0.5rem;
    }
  }

  .aco-checkbox {
    $size  : 28px;
    width  : $size;
    height : $size;
  }
}