
.workshop-background {
  width: 70%;
  padding: 60px;
  background-color: #e9f1f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Abstand zwischen den Workshops */
}