html {
  background: white;
  font-family: 'Inter', sans-serif;
}

h1 {
  color: #1E74D9;
  font-size: 40px;
}

h2 {
  color: #1E74D9;
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 5px;
}